<div class="main-container">

  <!-- Menu NavBar -->
  <mat-toolbar style="display:grid; grid-template-columns: auto auto auto; border-bottom:blue 1px solid">
    <div>
      <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Leaderboard">
        <mat-icon>leaderboard</mat-icon>
      </button>
      <span>SecuLearn</span>
    </div>
    <div style="display:grid; grid-template-columns: auto auto auto auto;">
      <span routerLink="" routerLinkActive="active">Home</span>
      <span>About</span>
      <span routerLink="/quiz" routerLinkActive="active">Quiz</span>
      <span routerLink="/scan" routerLinkActive="active">Scanner</span>
    </div>
    <div>
      @if (!isAuthenticated) {
        <span style="float:right" routerLink="" routerLinkActive="active"><mat-icon>account_circle</mat-icon></span>
      }
      @else{
      <span style="float:right" (click)="logout()"><mat-icon>logout</mat-icon></span>
      }
    </div>
  </mat-toolbar>

  <!-- Side Navigation with Leaderboard -->
  <mat-sidenav-container style="flex:1" hasBackdrop="true">
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list>
        <div *ngFor="let lb of leaderboardData | async; index as i" style="padding:0 20px;">
          <div mat-list-item style="display:grid; grid-template-columns: auto auto;">
            <span>{{i+1}} - {{lb.user}}</span>
            <span>{{lb.total}}</span>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar style="display:grid; grid-template-columns: auto auto auto; border-top:black 1px solid">
    <div>
      <i>
        All the rights reserved by SecuLearn Team <mat-icon>group</mat-icon>
      </i>
    </div>
    <div></div>
    <div><i style="float:right"><mat-icon>code</mat-icon>Developed by Akshat Soni, Dipen Thaker</i></div>
  </mat-toolbar>
</div>
