<h2>Flashcards</h2>

<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile *ngFor="let card of flashcards | async">
    <mat-card class="flip-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{card.title}}</mat-card-title>
      </mat-card-header>

      <div class="flip-card-inner">
        <div class="flip-card-front">
          <mat-card-content></mat-card-content>
          <mat-card-footer class="example-card-footer" style="position: absolute; bottom: 0; margin: 0 0 5% 5%;">
            <mat-chip-set>
              <mat-chip style="background-color: yellow;">{{card.topic}}</mat-chip>
            </mat-chip-set>
          </mat-card-footer>
        </div>

        <div class="flip-card-back">
          <mat-card-content class="example-card-footer">
            <p>{{card.description}}</p>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<div style="text-align:center; color: green"><span routerLink="/quiz" routerLinkActive="active">Feeling Prepared?<mat-icon>thumb_up</mat-icon></span></div>
